@import './base.css';

.pg-container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.pg-header {
    margin-top: 50px;
}

.pg-divider {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.pg-level-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pg-level-box {
    position: relative;
    width: calc(100% - 20px);
    margin: 20px 10px;
    height: 150px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #fff;

    cursor: pointer;
}

.pg-level-text {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0%;
    overflow: hidden;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(5px);
    color: #fefefe;

    text-align: center;

    transition: height .2s;
}

.pg-level-box:hover .pg-level-text {
    height: 100% !important;
}

.pg-level-name {
    font-size: larger;
    margin-top: 10px;
}

@media (min-width:576px) {

    .pg-container {
        max-width: 540px
    }

    .pg-level-box {
        position: relative;
        width: calc(50% - 20px);
        margin: 20px 10px;
        height: 150px;
        border: 1px solid #aaa;
        border-radius: 10px;
        box-sizing: border-box;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #fff;
    }
}

@media (min-width:768px) {

    .pg-container {
        max-width: 720px
    }

    .pg-level-box {
        position: relative;
        width: calc(33.33% - 20px);
        margin: 20px 10px;
        height: 150px;
        border: 1px solid #aaa;
        border-radius: 10px;
        box-sizing: border-box;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #fff;
    }
}

@media (min-width:992px) {

    .pg-container {
        max-width: 960px
    }
}


.pg-header-logo {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-70%, -50%);
    font-size: 56px;
    white-space: nowrap;
    font-family: "genshin";
    opacity: 0;
    transition: all .5s;

    z-index: 31;
}

.pg-header-logo.first {
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pg-start-button {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-60%, -50%);
    font-size: 24px;
    font-family: "genshin";
    padding: 8px 24px;
    border-top: 3px solid #212223;
    border-bottom: 3px solid #212223;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}

.pg-start-text {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-60%, -50%);
    font-size: 24px;
    font-family: "genshin";
    padding: 8px 24px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .5s;
}

.pg-help-button {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-60%, -50%);
    font-size: 24px;
    font-family: "genshin";
    padding: 8px 24px;
    border-top: 3px solid #212223;
    border-bottom: 3px solid #212223;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s;
}

@media screen and (max-width: 976px) {
    .pg-header-logo {
        font-size: 48px;
    }

    .pg-header-logo.first {
        font-size: 52px;
    }

    .pg-start-button {
        font-size: 20px;
        border-width: 3px;
        padding: 8px 24px;
    }
}

@media screen and (max-width: 768px) {
    .pg-header-logo {
        font-size: 44px;
    }

    .pg-header-logo.first {
        font-size: 48px;
    }

    .pg-start-button {
        font-size: 18px;
        border-width: 3px;
        padding: 6px 18px;
    }
}

@media screen and (max-width: 576px) {
    .pg-header-logo {
        font-size: 38px;
    }

    .pg-header-logo.first {
        font-size: 42px;
        border-width: 2px;
    }

    .pg-start-button {
        font-size: 16px;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 368px) {
    .pg-header-logo {
        font-size: 32px;
    }

    .pg-header-logo.first {
        font-size: 36px;
    }

    .pg-start-button {
        font-size: 14px;
        border-width: 2px;
    }
}

.pg-nav {
    list-style-type: none;
    margin-bottom: -20px;
    padding: 0;
    overflow: hidden;
}

.pg-nav-item {
    float: left;
}

.pg-nav-item .pg-nav-link {
    display: block;
    color: #212223;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background .2s;
}

.pg-nav-item .pg-nav-link:hover {
    background-color: #eee;
}

.pg-icon {
    width: 48px;
    height: 48px;
    stroke: #212223;
    stroke-width: 1.125;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    color: #212223;
}